.tiny-grey {
    font-size: x-small;
    color: grey;
}
.smaller-grey {
    font-size: small;
    color: grey;
}

.gasto {
    display: flex;
    gap: 20px;
    align-items: center;
    border: black 1px solid;
    box-shadow: 0px 3px 5px rgb(167, 167, 167);
    padding: 5px;
    margin-bottom: 10px;
}

.gasto > div {
    display: flex;
    flex-direction: column;
}

.gasto > img {
    width: 60px;
}

button {
    margin: 10px;
    margin-left: auto;
    padding: 5px;
    color: red;
}

.titulo-gasto {
    font-size: larger;
}

.valor-gasto {
    color: green;
    font-weight: bold;
}