* {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    max-width: 50%;
    margin: auto;
}

footer > p {
    margin: 45px 0px;
    text-align: center;
}

header {
    margin: auto;
    height: 100px;

    display: flex;
    align-items: center;

    background: linear-gradient(to right, #417dff, transparent);
}

#logo {
    font-family: monospace;
    color: yellow;
    font-size: 2em;
    font-weight: bold;
}

header > img {
    height: 100%;
}

nav {
    margin: 10px 0px;
    background-color: #bad0ff;
    text-align: center;
    padding: 5px;
}

.submitButton {
  display: block;
  margin: 0px auto;
}